$max-columns:18;

.views-view-grid {
  text-align:justify;
  > .row {
    &:after {
      content:' ';
      display: inline-block;
      width:100%;
    }
    > .col {
      vertical-align:top;
      display:inline-block;
    }
  }
  @for $i from 1 through $max-columns {
    &.cols-#{$i} .col {
      width: 90% / $i;
    }
  }
}

